.input {
  background: transparent;
  border: 0.1rem solid transparent;
  text-align: center;
  border-bottom: 0.1rem solid var(--text-muted);
  font-size: 1.8rem;
  outline: none;
  padding: 0.8rem;
  color: var(--text-over-primary);
  transition: all 0.3s ease-in-out;
}

.input:focus {
  border: 0.1rem solid var(--primary);
  border-radius: 0.4rem;
  background-color: var(--gray-800);
}

.input::placeholder {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
}

.input:disabled {
  border-bottom: 0.1rem solid var(--disabled);
  color: var(--text-muted);
  cursor: no-drop;
}
