.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 8rem;
  text-align: center;
  width: 30rem;
  height: 30rem;
  font-weight: 600;
  padding: 4rem;
  border: 2px solid var(--primary);
  border-radius: 100%;
}

/* Quando a tela for menor que 560px */
@media (max-width: 560px) {
  .container {
    width: 25rem;
    height: 25rem;
    font-size: 5rem;
  }
}
